<footer>
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Copyright -->
            <div class="col-sm-6">
                <p class="mb-0 text-center text-md-left">{{language.copy_right}} {{currentYear}} {{language.all_right}}</p>
            </div>
            <!-- ./ Copyright -->
            <!-- Social Links -->
            <div class="col-sm-6">
                <div class="footer-social text-center text-md-right">
                    <ul class="mb-0">
                        <li><a href="https://www.facebook.com/ValueNow-105866957564090/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/ValueNow1"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/value-now/about/"><i class="fab fa-linkedin-in"></i></a></li>
                        <!-- <li><a href=""><i class="fab fa-google"></i></a></li> -->
                        <li><a href="https://www.instagram.com/Value_Now/"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- ./ Social Links -->
        </div>
    </div>
</footer>
<!-- ./ Footer  -->

<div class="fixed_social_links">
    <ul class="mb-0">
        <li>
            <a href="https://www.facebook.com/ValueNow-105866957564090/"><i class="fa fa-facebook"
                    aria-hidden="true"></i></a>
        </li>
        <li><a href="https://twitter.com/ValueNow1"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/company/value-now/about/"><i class="fab fa-linkedin-in"></i></a></li>
        <!-- <li><a href=""><i class="fab fa-google"></i></a></li> -->
        <li><a href="https://www.instagram.com/Value_Now/"><i class="fab fa-instagram"></i></a></li>
    </ul>
</div>