<ul class="nav flex-column flex-nowrap" id="sidebar_menu">
  <li class="nav-item border-0">
    <a class="nav-link active" href="https://valuenow.net/">{{language.home}}</a>
  </li>
  <li class="nav-item border-0">
    <a class="nav-link active" href="https://valuenow.net/services/"> {{language.our_services}}</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="https://valuenow.net/prices-and-packages/">{{language.packages}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://valuenow.net/about/">{{language.about_us}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://valuenow.net/contact/">{{language.contact_us}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://valuenow.net/blog/">{{language.blog}}</a>
  </li>
</ul>