<app-inner-main-header></app-inner-main-header>


<!-- main wrapper -->
<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row">
            <!-- Left Side Bar -->
            <div class="left-side">
                <app-sidebar></app-sidebar>
            </div>
            <!-- ./ Left Side Bar -->
            <!-- All Content Right Sidebar -->
            <div class="right-side">
                <div class="container-fluid">
                    <!-- Content Main Heading -->
                    <app-inner-header [headerData]="headerData"></app-inner-header>
                    <!-- ./ Content Main Heading -->
                    <div class="row">
                        <div class="col-lg-12" *ngIf="data">
                            <div class="myBusiness">
                                <div class="myBusiness_card mb-3">
                                    <div class="card">
                                        <div class="card-header fz20 d-flex justify-content-between align-items-center">
                                            {{data.investment_name | titlecase}} {{language.details}}
                                        </div>
                                        <div class="card-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-lg-12">

                                                        <div class="post__aproved text-right p-0 border-bottom-0">

                                                        </div>
                                                        <!-- User Post -->
                                                        <div class="posted mb-4">
                                                            <div class="row">
                                                                <div class="col-md-7"></div>
                                                                <div class="col-md-5">
                                                                    <div
                                                                        class="posted__date text-left text-md-right mb-2">
                                                                        <!-- user posted Date -->
                                                                        <p
                                                                            class="mb-0 fz16 posted__text_color text-right">
                                                                            {{data.created_at | date:'MMM dd,yyyy'}}</p>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-12 mb-3">
                                                                    <div class="posted__sort--details">
                                                                        <p class=" field_title fz14">
                                                                            {{language.business_description}} </p>
                                                                        <div class="post_details_para">
                                                                            {{data.description!=""?data.description:"NAN"}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-5">
                                                                    <div class="post_filed_details">
                                                                        <p class="field_title fz14">
                                                                            {{language.field_of_business}}
                                                                        </p>
                                                                        <h4 class="fz16">
                                                                            {{language.typeOf ==1?data.get_field.name:data.get_field.ar_name}}
                                                                        </h4>
                                                                    </div>
                                                                    <div class="post_filed_details">
                                                                        <p class="field_title fz14">
                                                                            {{language.sub_field_of_business}}
                                                                        </p>
                                                                        <h4 class="fz16">
                                                                            {{data.get_sub_field!=null?language.typeOf ==1?data.get_sub_field.name:data.get_sub_field.ar_name:"N/A"}}
                                                                        </h4>
                                                                    </div>

                                                                    <div class="post_filed_details">
                                                                        <p class="field_title fz14">
                                                                            {{language.business_type}}</p>
                                                                        <h4 class="fz16">
                                                                            {{language.typeOf ==1?data.get_business_type.name:data.get_business_type.ar_name}}
                                                                        </h4>
                                                                    </div>
                                                                    <div class="post_filed_details">
                                                                        <p class="field_title fz14">{{language.country}}
                                                                        </p>
                                                                        <h4 class="fz16">
                                                                            {{data.get_country.country_name}}</h4>
                                                                    </div>


                                                                    <div class="post_filed_details">
                                                                        <p class="field_title fz14">
                                                                            {{language.year_of_investment}}
                                                                        </p>
                                                                        <h4 class="fz16">
                                                                            {{data.year_of_investment!=null?data.year_of_investment:'N/A'}}
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-6">
                                                                    <!-- user Galary -->
                                                                    <div
                                                                        class="posted__images posted__images--details mb-3">
                                                                        <p class="field_title fz14">
                                                                            {{language.related_images}} </p>
                                                                        <ul class="list-unstlyed mb-0 d-flex ">
                                                                            <li (click)="modelSliderOpen(modelSlider)"
                                                                                *ngFor="let image of imageDataChange(data.get_files); let i = index;">
                                                                                <div class="posted__images--more"
                                                                                    *ngIf="i < '3'">
                                                                                    <img src="{{image}}" alt="..."
                                                                                        class="img-fluid rounded-lg business_image_custom">
                                                                                    <div class="more"
                                                                                        *ngIf="imageDataChange(data.get_files).length > '2' && i == 2">
                                                                                        {{language.more}}
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="posted__documents">
                                                                        <p class="field_title fz14">
                                                                            {{language.related_documents}}
                                                                        </p>
                                                                        <div class="row">
                                                                            <div class="col-md-5">
                                                                                <ul class="document_list">
                                                                                    <li
                                                                                        *ngFor="let image of data.get_files; let i = index;">
                                                                                        <div
                                                                                            *ngIf="image.file_type =='doc'">
                                                                                            <span>{{commonService.getFileName(image.url)}}</span>

                                                                                        </div>
                                                                                    </li>

                                                                                </ul>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!-- ./ User Post -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- ./ All Content Right Sidebar -->
            </div>
        </div>



        <ng-template #modelSlider let-modal class="modal-dialog modal-dialog-centered">
            <div class="modal-body p-0">
                <app-common-slider [images]="imageDataChange(data.get_files)"></app-common-slider>
            </div>

        </ng-template>

    </div>
    <app-inner-footer></app-inner-footer>

    <!-- main wrapper -->