<app-header></app-header>
<!-- main wrapper -->
<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Login -->
                <div class="login_page">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <!-- Login Title -->
                                        <div class="login__page-first">
                                            <h3 class="login__page--title ">{{language.reset_your_password}} </h3>
                                        </div>
                                        <!-- ./ Login Title -->
                                        <!-- Sign up via email -->
                                        <div class="login_signin_form ">
                                            <form>
                                                <div class="form-group">
                                                    <label for="newPassword">{{language.enter_new_password}} </label>
                                                    <div class="pwd_show_icon">
                                                        <input type="password" class="form-control" id="newPassword">
                                                        <span>
                                                            <i class="fa toggle-password fa-eye" toggle="#newPassword"
                                                                aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="confirmPassword">{{language.confirm_new_password}}
                                                    </label>
                                                    <div class="pwd_show_icon">
                                                        <input type="password" class="form-control"
                                                            id="confirmPassword">
                                                        <span>
                                                            <i class="fa toggle-password fa-eye"
                                                                toggle="#confirmPassword" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="text-center login_signup_email">
                                                    <button type="button" class="btn radius-30 mt-3"
                                                        (click)="openVerticallyCentered(resend_link)">{{language.submit}}
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- ./Sign up via email -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Login -->
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<!-- Modal -->
<ng-template #resend_link let-modal class="modal-dialog modal-dialog-centered">
    <div class="modal-header border-0">
        <h5 class="modal-title" id="resend_link"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body px-5">
        <div class="resend_link">
            <p>{{language.your_pass_has_reset}} </p>

            <div class="text-center login_signup_email  ">

                <a href="javascript:void(0)" class="btn radius-30 mt-3"
                    (click)="modal.dismiss('Cross click')">{{language.continue}} </a>
            </div>


        </div>
    </div>

</ng-template>
<!-- ./ Modal -->

<!-- main wrapper -->