<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-11">

            <div class="login_signin_form add_myBusiness">

                <div class="add_business">

                    <div class="text-center login_signup_email login_signup_btn   ">
                        <p class="fz22">{{language.you_have_not_added_any_investor_workplace}} </p>
                        <a [routerLink]="['/workplace/add']" class="btn radius-30 mt-3">
                            <i class="fas fa-plus-circle mr-3"></i> {{language.add_investment_business}} </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>