<app-header></app-header>
<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Login -->
                <div class="login_page">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <!-- Login Title -->
                                        <div class="login__page-first">
                                            <h3 class="login__page--title ">{{language.forgot_your_password}}</h3>
                                        </div>
                                        <!-- ./ Login Title -->
                                        <!-- Sign up via email -->
                                        <div class="login_signin_form ">
                                            <form [formGroup]="forgotForm">
                                                <div class="form-group">
                                                    <label for="email">{{language.your_registered_mail}}</label>
                                                    <input type="email" class="form-control mb-4" id="email"
                                                        placeholder="robinx@gmail.com" formControlName="email"
                                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                        <div *ngIf="f.email.errors.required">
                                                            {{language.mail_is_required}}</div>
                                                        <div *ngIf="f.email.errors.email || f.email.errors.pattern">
                                                            {{language.email_must_be_a_valid_email_address}}</div>
                                                    </div>
                                                </div>

                                                <div class="text-center login_signup_email  ">
                                                    <button type="button" class="btn  mt-3 rounded-pill"
                                                        (click)="submit(resend_link)">{{language.password_reset_link}}</button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- ./Sign up via email -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Login -->
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>


<!-- Modal -->
<ng-template #resend_link let-modal class="modal-dialog modal-dialog-centered">
    <div class="modal-header border-0">
        <h5 class="modal-title" id="resend_link"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body px-5">
        <div class="resend_link">
            <p>{{language.verification_link}} <br>
                {{language.verify_to}}<br>
                {{language.proceed_further}}</p>

            <div class="text-center login_signup_email  ">
                <a class="btn rounded-pill mt-3" (click)="closeDialog()">{{language.ok}}</a>
            </div>
        </div>
    </div>
</ng-template>
<!-- ./ Modal -->