<app-inner-main-header></app-inner-main-header>


<!-- main wrapper -->
<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row">
            <!-- Left Side Bar -->
            <div class="left-side">
                <app-sidebar></app-sidebar>
            </div>
            <!-- ./ Left Side Bar -->
            <!-- All Content Right Sidebar -->
            <div class="right-side">
                <div class="container-fluid">
                    <!-- Content Main Heading -->
                    <app-inner-header [headerData]="headerData"></app-inner-header>
                    <!-- ./ Content Main Heading -->
                    <!-- Profile Strength -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="profile_strength mb-4">
                                <div class="card">
                                    <div class="card-header fz20 ">
                                        {{language.change_password}}
                                    </div>
                                    <div class="card-body progress_card-body">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-6">
                                                <!-- Change Password -->
                                                <div class="login_signin_form my-3 my-sm-5">
                                                    <form [formGroup]="changePasswordForm">
                                                        <div class="form-group">
                                                            <label
                                                                for="currentPassword">{{language.enter_current_password}}
                                                            </label>
                                                            <div class="pwd_show_icon">
                                                                <input type="text" class="form-control"
                                                                    placeholder="{{language.old_password}} "
                                                                    id="currentPassword" formControlName="old_password"
                                                                    (input)="passwordNotMatch(changePasswordForm.get('new_password').value)"
                                                                    [ngClass]="{ 'is-invalid': submitted && f.old_password.errors }">
                                                                <div *ngIf="submitted && f.old_password.errors"
                                                                    class="invalid-feedback">
                                                                    <div
                                                                        *ngIf="f.old_password.errors.required || f.old_password.errors.cannotContainSpace || f.old_password.errors.minlength || f.old_password.errors.maxlength">
                                                                        {{language.old_password_must_be_at_least}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="newPassword">{{language.enter_new_password}}
                                                            </label>
                                                            <div class="pwd_show_icon">
                                                                <input type="{{newPasswordField}}" class="form-control"
                                                                    id="newPassword"
                                                                    placeholder="{{language.enter_new_password}} "
                                                                    formControlName="new_password"
                                                                    (input)="passwordNotMatch($event.target.value)"
                                                                    [ngClass]="{ 'is-invalid': (submitted && f.new_password.errors) || (submitted && notMatch)}">
                                                                <span (click)="changeNewPasswordFiled()">
                                                                    <i [class]="newPasswordIcon" aria-hidden="
                                                                        true"></i>
                                                                </span>
                                                                <div *ngIf="(submitted && f.new_password.errors) "
                                                                    class="invalid-feedback">
                                                                    <div
                                                                        *ngIf="f.new_password.errors.required || f.new_password.errors.cannotContainSpace || f.new_password.errors.minlength || f.new_password.errors.maxlength">
                                                                        {{language.new_pass_must_be_at_least}}
                                                                    </div>

                                                                </div>
                                                                <div *ngIf="submitted && notMatch" class="custom_error">
                                                                    {{language.old_pass_and_new_pass_must_not_same}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label
                                                                for="confirmPassword">{{language.confirm_new_password}}
                                                            </label>
                                                            <div class="pwd_show_icon">
                                                                <input type="{{confirmPasswordField}}"
                                                                    formControlName="c_password" class="form-control"
                                                                    id="confirmPassword"
                                                                    placeholder="{{language.confirm_password}} "
                                                                    [ngClass]="{ 'is-invalid': submitted && f.c_password.errors }">
                                                                <span (click)="changeConfirmPasswordField()">
                                                                    <i [class]="confirmPasswordIcon"
                                                                        aria-hidden="true"></i>
                                                                </span>
                                                                <div *ngIf="submitted && f.c_password.errors"
                                                                    class="invalid-feedback">
                                                                    <div
                                                                        *ngIf="f.c_password.errors.required || f.c_password.errors.mustMatch">
                                                                        {{language.confirm_pass_must_match}} </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-center login_signup_email  ">
                                                            <button type="submit" class="btn rounded-pill mt-3"
                                                                (click)="changePassword()">{{language.change_password}}
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <!-- ./change password -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./ Profile Strength -->
                </div>
            </div>
            <!-- ./ All Content Right Sidebar -->
        </div>
    </div>
    <app-inner-footer></app-inner-footer>
    <!-- <app--footer></app-footer> -->

    <!-- main wrapper -->